.animal{
    border: 1px solid grey;
    border-radius: 0,5em;
    padding: 0.5em;
    font-weight: 600;
    box-shadow: 0.1em 0.1em 0,2em;
}
.animal :nth-child(1){
    font-size: 4em;
}
.animal :nth-child(2){
    font-weight: 600;
}
.animal :nth-child(3){
    opacity: 0.6;
}
.animal :nth-child(4){
    background-color: darkred;
    color: white;
    min-height: 1em;
}