.exibicao {
    font-weight: 900;
    padding:1em;
    display: grid;
    grid-template-areas: "local inicio fim";

    .inicio {
        color: darkgreen;
        grid-area: inicio;
    }
    .fim {
        color: darkred;
        grid-area: fim;
    }
    .local {
        text-decoration: underline;
        grid-area: local;
    }
}